.mainTitle {
  font-size: 100px;
}

.container {
}

.selectTitle {
  margin: 20px 0px;
}

.items {
  display: flex;
  gap: 50px;
}

.item {
  position: relative;
  background-size: stretch !important;
}

.img {
  object-fit: cover;
}

.title {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  background: white;
  opacity: .88;
  color: black;
}

.item:hover .title {
  color: #FCB903
}
