.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.image {
  object-fit: contain;
  position: none;
}




.title{
  margin-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #999;
}

.imageContainer {
  flex: 1;
  height: 200px;
  position: relative;
}